<html>
  <body>
    <h2> Tabata Timer with Buttons </h2>
    <hr />
    <div>
      <h5> Ciclos: </h5>
      <input type="number" />
      <h3>Ação:</h3>
      <div id="acao"></div>

      <h3>Tempo:</h3>
      <div id="tempo"></div>

      <h3>Ciclo:</h3>
      <div id="ciclo"></div>

      <input type="button" value="Iniciar"/> &nbsp; 
      <input type="button" value="Pausar"/> &nbsp; 
      <input type="button" value="Parar"/>
    </div>
    <div class="footer">
      <p>Created by Thaylla</p>
    </div>
  </body>
</html>
