/* Add application styles & imports to this file! */
h1 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: darkblue;
}

h3 {
  font-family: 'Times New Roman', Times, serif;
  color: darkblue;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkblue;
  color: white;
  text-align: center;
}